%h1 What would you like to do today?
It is now
= @time

%p= link_to 'Look at my running tab', reckoning_index_path
%p calculate grocery bill
%p work on debt avalanching
%p look at general expenses
%p What I really want is for all these to be partials rendered in the dashboard.
