%h1 this is a running tab of all expenses. A reckoning, if you will.

Control flow:
%p enter month. Month creation: name, number of days, displays
%p enter new expense - on what date?
%p enter new credit - on what date?
%p display!
= form_for Month.new do |m|
  =m.label 'enter month name'
  =m.text_field :name
  =m.label 'enter number of days'
  =m.number_field :days
  =m.submit

- @months.each do |month|
  %table
    %tbody
      %th= month.name
      - month.days.times do |day|
        %tr
          %td= day + 1
