%h1 this is a running tab of all expenses. A reckoning, if you will.

Control flow:
%p enter month. Month creation: name, number of days, displays
%p enter new expense - on what date?
%p enter new credit - on what date?
%p display!
= form_for @month do |f|
  =f.label 'enter month name'
  =f.text_field :name
  =f.label 'enter number of days'
  =f.number_field :days
  =f.submit

- @months.each do |month|
  %table
    %tbody
      %th= month.name
