%h1 this is a running tab of all expenses. A reckoning, if you will.

Control flow:
%p enter month. Month creation: name, number of days, displays
%p enter new expense - on what date?
%p enter new credit - on what date?
%p display!
