%h1 Running tab of expenses

= form_for @month do |f|
  =f.label 'enter month name'
  =f.text_field :name
  =f.label 'enter number of days'
  =f.number_field :days
  =f.submit

.container
  - @months.each do |month|
    .row.col-lg-3
      %h3=month.name
      -month.days.each do |day|
        %p=day.name
